
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>



<p>Please fill in this form to create an account.</p>

<div class="jumbotron ">

    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h4>Member Sign Up</h4>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Fitst Name</label>
                                <div class="form-group">
                                    <input id="txtFirstName" Class="form-control" placeholder="Full Name" name="FirstName" required>

                                </div>
                            </div><div class="col-md-6">
                                <label>Last Name</label>
                                <div class="form-group">
                                    <input id="txtLastName" Class="form-control" placeholder="Full Name" name="LastName" required>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                                <div class="form-group">
                                    @*<input  type="text" Class="form-control" ID="txtgender"  placeholder="Gender" />*@
                                    <label>
                                        <input CssClass="form-control" type="radio" id="rbtnMale" name="Gender" required="" />
                                        Male
                                    </label>
                                    <label>
                                        <input CssClass="form-control" type="radio" id="rbtnFemal" name="Gender" required="" />
                                        Female
                                    </label>&nbsp;
                                    &nbsp;
                                    <label>

                                        <input type="checkbox" id="chkbox" checked="checked" name="remember" style="margin-bottom:15px">Active

                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">


                                <label>Email</label>
                                <div class="form-group">
                                    <input Class="form-control" ID="txtmail" type="text" placeholder="Enter Email" name="email" required />

                                </div>
                            </div>

                        </div>

                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>Password </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" ID="txtpassword" runat="server" placeholder="Password" TextMode="Password" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Password Confirm</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" ID="confirmpassWord" runat="server" placeholder="Password" />
                                </div>
                            </div>
                        </div>

                        <h4> <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</h4>

                        <div class="row">
                            <div class="col mx-auto">
                                <div class="form-group">

                                    <input type="button" class="btn btn-success btn-block" ID="btnSignup" runat="server" value="Sigup" onclick="register()" />
                                    <br />
                                    <input type="button" class="btn btn-danger btn-block" ID="btnCancel" runat="server" value="Cancel" onclick="clear()" />
                                    <br />

                                </div>
                            </div>

                        </div>  <label>
                            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                        </label>

                    </div>
                </div>
                <a href="login"><< Back to Home</a><br><br>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/PageScript/Register.js"></script>
