
.student-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
}

.student-info {
    margin-left: 20px;
    font-size: 18px;
}

    .student-info h2 {
        margin-top: 0;
        font-size: 28px;
    }

    .student-info p {
        margin: 5px 0;
    }
