
@{
    ViewBag.Title = "Login";
}

<div class="jumbotron ">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col">
                                <center>
                                    <h3>Member Login</h3>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <center>

                                <div class="col">

                                    <label>User Name</label>
                                    <div class="form-group">
                                        <input type="email" Class="form-control" id="txtEmail" runat="server" placeholder="abcd@gmail.com" />
                                    </div>

                                    <label>Password</label>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="txtPass" runat="server" placeholder="Password"  />
                                    </div>
                                    <div class="form-group">
                                        <input class="btn  btn-block btn-lg btn-success" id="btnLogin" type="submit" value="Login" onclick="login()" />
                                    </div>
                                    <div class="form-group">
                                        <a href="Register"><input class="btn btn-info " id="btnSignup" type="button" value="Sign Up" /></a>
                                    </div>
                                </div>
                                <a href="http://localhost:52981/"><< Back to Home</a><br><br>
                            </center>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/Scripts/PageScript/Login.js"></script>


